{% load widget_tweaks %}
       <div class="col-lg-6" style="float: right;">
	    <div class="card">
			<div class="card-head ">
		    <header>البضاعه</header>
			</div>
			<table  class="table order-column style-primary">
				<thead>
					<tr>
						<th>المنتج</th>
						<th>الكمية</th>
						<th>سعرالوحدة</th>
						<th>سعرالكل</th>
						<th>حذف</th>
					</tr>
				</thead>
				<tbody>
					{% if cart %}
						{% for item in cart %}
							{% with  product=item.product %}
							    <tr>	
							    	<td>{{product.product_name}}</td>
							    	<td>
								 		<table style="color: red;background-color: #ccc">
								    		<form method="post" action="{% url 'cart_add' product.id %}">
								    			{% csrf_token %}
								    			<tr>
								    			<td >
								    			{{item.update_quantity_form.quantity | add_class:'form-control'}}
								    			</td>
								    		
								    			{{item.update_quantity_form.update}}
								    			
								    			<td>
								    			<input type="submit" class="btn btn-default" style="color: #000;" value="تعديل">
								    			</td>
								    			</tr>
								    		</form>
								    	</table>	
							    	</td>

							    	
							    	<td>
							    		{{item.price}}
							    	</td>
							    	<td>
							    		{{item.total_price}}
							    	</td>
							    	<td>
							    		<a href="{% url 'cart_remove' product.id %}" class="btn ink-reaction btn-floating-action btn-warning" onclick="return confirm('هل تريد ازالة الصنف {{ product.product_name }} من الفاتورة?')"><i class="md md-delete"></i> </a>	
							    			
							    		</a>
							    	</td>
							    </tr>

							{% endwith %}
						{% endfor %}
					{% else %}
						<tr >
							<td colspan="4" style="width:100%;text-align:center;">لم يتم ادراج اي صنف  !</td>
						</tr>
					{% endif %}
		 				<tr class="total">
							<td>
								المجموع
							</td>
							<td colspan="4"></td>
							<td class="num">${{cart.get_total_price}}</td>
						</tr> 
						
						
				</tbody>
		</table>
		{% if cart %}
		
			<a href="{% url 'order_create' %}"><button class="btn btn-warning " style="padding:5px 40px;"> اصدار فاتورة</button></a>

		
		
			<a href="{% url 'cart_remove_all' %}"><button class="btn btn-danger " style="padding:5px 40px; float: right;"> اعادة تعين الفاتورة </button></a>

				{% endif %}
</div>
	</div>
</div>
