{% extends 'layout.html' %}
{% load staticfiles %}

{% load widget_tweaks %}


{% block title %} HOME {% endblock %}
<script type="text/javascript">
{% block jquery %}

{% include 'charts.html' %}
{% endblock %}
</script>
{% block javascript %}
{% endblock %}
{% block body %}



	<section>
		
		<div class="section-body">
		    <div class="card">
		      <div class="card-body" >
		      	<div class="row" style="padding:0px 0px 0px 0px; ">
		      	<div class="col-sm-12"style="padding:0px 0px 3px 0px; ">
				<a href="#"><button class="btn btn-info b" style=";width: 24%;">المبيعات</button></a>	
				<a href="#"><button class="btn  btn-default b">المبيعات</button></a>	
				<a href="#"><button class="btn  btn-primary b">المبيعات</button></a>	
				<a href="#"><button class="btn btn-success b">المبيعات</button></a>	
				</div>

				<div class="col-sm-12" style="padding:0px 0px 0px 0px; ">
				<button class="btn btn-primary b"style="width: 24%;">المبيعات</button>
				<button class="btn btn-warning b" >المبيعات</button>
				<button class="btn btn-danger b">المبيعات</button>
				<button class="btn btn-info b">المبيعات</button>
				    <!-- <a href="{% url 'home' %}" class="btn btn-primary">Go orders</a>-->
		  			</div>
		  			</div>

		      </div>
		    </div>
		  </div>
		  

			<div class="row">
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
					<canvas id="myChart2" "></canvas>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
					<canvas id="myChart" ></canvas>
			      </div>
			    </div>
			  </div>
			</div>
			  
			</div>

			
			

			

			
		</div>




	</section>




{% endblock %}
