{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %} 
    {% if category %} 
            {{category.name}}
    {% else %}
            Products    
    {% endif %}
{% endblock %}

{% block body %}
                <section>
                    <div class="section-body">
                            <!-- BEGIN DATATABLE 2 -->
                            <div class="row">
                                <div class="col-lg-6" style="float: right;">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>All Orders Data</header>
                                        
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="datatable2" class="table order-column hover">
                                                <thead>
                                                    <tr>
                                                        <th>المنتج</th>
                                                        <th>سعرالوحدة</th>
                                                        <th>الصنف</th>
                                                        <th>المخزون</th>
                                                        <th width="150px">بيع</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for product in products %}
                                                        <tr class="gradeX">
                                                            <td>{{ product.product_name }}</td>
                                                            <td>{{ product.price }}</td>
                                                            <td>{{ product.category.name }}</td>
                                                            <td>{{ product.stock }}</td>
                                                          
                                                            
                                                            <td>
                                                                
                                                             <form method="post" action="{% url 'cart_add' product.id %}">
                                                             {% csrf_token %}
                                                             
                                                               <table> 
                                                               <tr> 
                                                                <td>
                                                            {{cart_product_form.quantity | add_class:'form-control'}} 
                                                               </td>
                                                               {{cart_product_form.update}} 
                                                                   <td>
                                                                    <input type="submit" class="btn  btn-primary " value="+">
                                                                </td>
                                                                </tr>
                                                                       </table>      

                                                             </form>
                                                                
                                                                
                                                        
                                                                
                                                                
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--end .table-responsive -->
                                    </div>   
                                </div>       
                            </div><!--end .col -->
 {% include 'cart_detail.html' %}  
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->

                    </div><!--end .section-body -->
                </section>
                                                     


{% endblock %}